# Food price watch in Nigeria

### Brief description of Dataset

The Selected food price data represents different prices of food items in Lagos state and their comparison to different states in the country. It displayed the prices of different food items from January 2017 till August 2018. The data representation also displays the percentage increase/decrease in the price of food items from the year 2017 to 2018. It also reflected the percentage increase/decrease in the price of food items between January and August 2018. The remaining four columns displays the state with the highest price and the state with the lowest price of a particular food item respectively. 

In this tutorial, we will use Pandas library to perform some operations on the dataset.

In [1]:
import sys
sys.path.append('/Users/AkandeImisioluwa/.virtualenvs/venv/lib/python3.6/site-packages')
import pandas as pd

In [2]:
fp = pd.read_csv('food_price.csv')

In [3]:
df = pd.read_excel("food_price.xlsx", sheetname="Sheet 1")

/Users/AkandeImisioluwa/anaconda3/envs/news/lib/python3.6/site-packages/pandas/util/_decorators.py:118: FutureWarning: The `sheetname` keyword is deprecated, use `sheet_name` instead
  return func(*args, **kwargs)

#### Check the head of the DataFrame

In [4]:
fp.head(5)

,ItemLabels,Jan-17,Feb-17,Mar-17,Apr-17,May-17,Jun-17,Jul-17,Aug-17,Sep-17,...,May-18,Jun-18,Jul-18,Aug-18,Year on Year %,Month on Month %,high state,higher price,low state,lower price
0,Agric eggs medium size,597.00,591.82,586.32,526.32,528.42,526.50,468.24,492.63,473.68,...,462.35,496.92,477.04,503.81,2.27,5.61,Anambra,555.56,Yobe,405.56
1,Agric eggs(medium size price of one),50.74,54.14,51.05,49.41,49.28,45.43,40.88,41.18,40.31,...,41.14,39.23,40.19,42.57,3.39,5.94,Anambra,50.00,Gombe,34.00
2,"Beans brown,sold loose",416.70,418.10,395.17,358.96,388.76,412.53,424.56,488.13,484.87,...,400.00,457.55,495.90,467.76,-4.17,-5.67,Ebonyi,554.43,Bauchi,250.19
3,Beans:white black eye. sold loose,364.85,354.73,356.56,348.42,386.97,411.22,409.92,402.11,406.27,...,526.36,530.75,443.56,446.56,11.06,0.68,Ebonyi,493.76,Adamawa,245.58
4,Beef Bone in,1008.16,1025.56,1124.77,1055.56,1132.64,1169.07,1111.11,1122.83,1192.13,...,1500.00,1320.59,1256.79,1230.00,9.54,-2.13,Bayelsa,1279.19,Osun,754.05

#### Check the tail of the DataFrame

In [5]:
fp.tail(5)

,ItemLabels,Jan-17,Feb-17,Mar-17,Apr-17,May-17,Jun-17,Jul-17,Aug-17,Sep-17,...,May-18,Jun-18,Jul-18,Aug-18,Year on Year %,Month on Month %,high state,higher price,low state,lower price
39,Plantain(ripe),302.21,300.00,287.36,261.97,243.92,255.28,276.84,234.50,256.89,...,259.20,240.24,222.75,229.31,-2.21,2.94,Sokoto,411.76,Bayelsa,186.40
40,Plantain(unripe),307.14,284.35,283.09,292.20,283.11,286.05,270.61,256.92,284.83,...,203.66,190.48,205.04,198.79,-22.63,-3.05,Plateau,441.52,Bayelsa,168.57
41,"Vegetable oil:1 bottle,specify bottle",598.42,507.26,538.18,552.81,559.14,550.00,555.55,578.57,555.30,...,566.67,530.30,523.08,522.81,-9.64,-0.05,Kogi,762.67,Niger,386.67
42,Wheat flour: prepacked (golden penny 2kg),636.66,666.27,631.25,625.79,622.55,639.04,639.44,644.09,602.52,...,632.90,619.05,610.37,594.74,-7.66,-2.56,Bayelsa,742.00,Zamfara,510.00
43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### Drop the rows where at least one element is missing(NaN)

In [6]:
fp.dropna()

,ItemLabels,Jan-17,Feb-17,Mar-17,Apr-17,May-17,Jun-17,Jul-17,Aug-17,Sep-17,...,May-18,Jun-18,Jul-18,Aug-18,Year on Year %,Month on Month %,high state,higher price,low state,lower price
0,Agric eggs medium size,597.00,591.82,586.32,526.32,528.42,526.50,468.24,492.63,473.68,...,462.35,496.92,477.04,503.81,2.27,5.61,Anambra,555.56,Yobe,405.56
1,Agric eggs(medium size price of one),50.74,54.14,51.05,49.41,49.28,45.43,40.88,41.18,40.31,...,41.14,39.23,40.19,42.57,3.39,5.94,Anambra,50.00,Gombe,34.00
2,"Beans brown,sold loose",416.70,418.10,395.17,358.96,388.76,412.53,424.56,488.13,484.87,...,400.00,457.55,495.90,467.76,-4.17,-5.67,Ebonyi,554.43,Bauchi,250.19
3,Beans:white black eye. sold loose,364.85,354.73,356.56,348.42,386.97,411.22,409.92,402.11,406.27,...,526.36,530.75,443.56,446.56,11.06,0.68,Ebonyi,493.76,Adamawa,245.58
4,Beef Bone in,1008.16,1025.56,1124.77,1055.56,1132.64,1169.07,1111.11,1122.83,1192.13,...,1500.00,1320.59,1256.79,1230.00,9.54,-2.13,Bayelsa,1279.19,Osun,754.05
5,"Beef,boneless",1363.31,1378.88,1320.91,1264.91,1404.39,1472.63,1451.51,1673.78,1640.57,...,1344.02,1324.71,1326.05,1522.50,-9.04,14.81,Lagos,1522.50,Oyo,939.72
6,Bread sliced 500g,308.05,304.00,299.52,289.47,294.21,307.62,291.18,272.22,266.67,...,295.56,296.32,305.17,295.00,8.37,-3.33,Bayelsa,414.55,Jigawa,238.89
7,Bread unsliced 500g,265.81,256.39,259.00,253.89,260.00,250.00,238.00,267.50,272.22,...,262.96,241.30,256.07,247.62,-7.43,-3.30,Bayelsa,413.64,Yobe,227.27
8,Broken Rice (Ofada),720.61,712.30,709.26,705.56,699.40,698.09,689.31,566.34,562.30,...,602.58,661.46,610.54,578.69,2.18,-5.22,Oyo,760.81,Benue,233.33
9,Chicken Feet,998.83,970.00,950.00,916.67,1025.00,1100.00,1140.00,1066.67,1067.20,...,811.80,875.00,1036.36,970.00,-9.06,-6.40,Ondo,1240.00,Taraba,348.33
10,Chicken Wings,1079.07,1098.21,1028.57,1062.13,1065.63,1117.65,1190.00,1200.00,1200.60,...,1125.96,1129.55,1177.78,1131.58,-5.70,-3.92,Ekiti,1350.00,Kebbi,533.33
11,Evaporated tinned milk carnation 170g,140.02,126.67,140.00,150.00,152.86,156.67,178.75,156.00,170.00,...,157.64,153.33,150.00,147.50,-5.45,-1.67,Ekiti,230.00,Gombe,142.50
12,"Evaporated tinned milk(peak), 170g",145.00,173.36,192.00,196.11,195.71,197.14,195.29,210.00,206.18,...,205.00,193.91,200.50,198.38,-5.53,-1.06,Kwara,204.00,Gombe,162.14
13,Frozen chicken,1172.56,1290.97,1244.44,1378.95,1357.89,1438.10,1466.67,1331.58,1340.00,...,1325.68,1264.58,1303.45,1245.00,-6.50,-4.48,Yobe,2350.58,Kano,1100.00
14,"Gari white,sold loose",208.10,270.37,304.94,280.03,282.70,317.60,319.90,334.96,319.95,...,225.94,206.88,195.07,204.80,-38.86,4.99,Kogi,381.01,Cross River,100.67
15,"Gari yellow,sold loose",264.82,267.65,317.41,302.72,313.43,347.77,366.57,370.38,374.52,...,299.23,314.88,317.15,334.34,-9.73,5.42,Sokoto,401.64,Cross River,113.79
16,Mudfish (aro) fresh,1132.35,1480.63,1313.64,1088.89,1050.00,1057.52,1180.00,1162.50,1157.14,...,1285.37,1109.38,1190.48,1216.05,4.61,2.15,Akwa Ibom,1483.86,Gombe,779.80
17,Mudfish : dried,2475.72,2169.01,2206.00,2215.99,2331.72,2204.17,2405.77,2464.29,2483.33,...,2093.91,2000.79,2200.00,1991.67,-19.18,-9.47,Ekiti,3170.68,Kaduna,1174.85
18,Onion bulb,294.95,315.80,322.45,285.21,287.30,294.36,283.69,397.35,322.44,...,301.15,353.82,350.57,347.97,-12.43,-0.74,Ogun,358.32,Bauchi,134.88
19,Rice agric sold loose,298.78,429.57,392.51,369.78,379.26,376.03,363.02,337.75,336.16,...,328.71,313.20,318.35,314.09,-7.01,-1.34,Kogi,613.04,Katsina,237.18
20,Rice local sold loose,321.03,359.37,344.44,345.00,391.67,400.00,399.50,367.98,372.50,...,309.67,296.88,290.00,304.84,-17.16,5.12,Bayelsa,420.02,Bauchi,211.84
21,Rice Medium Grained,280.82,340.33,322.12,322.58,330.12,336.35,317.54,324.25,336.77,...,316.74,323.53,322.58,322.58,-0.51,0.00,Bayelsa,458.13,Gombe,226.70
22,"Rice,imported high quality sold loose",402.54,417.94,386.96,329.84,370.33,371.20,383.14,319.24,344.76,...,318.24,315.96,330.06,338.55,6.05,2.57,Bayelsa,521.65,Kebbi,284.89
23,Tomato,300.00,534.61,456.36,450.00,522.49,527.64,566.98,587.27,450.91,...,560.00,565.41,592.51,523.11,-10.93,-11.71,Rivers,563.47,Taraba,194.95
24,Yam tuber,209.06,216.46,221.47,233.42,297.70,302.36,303.43,312.87,258.48,...,408.33,463.79,437.72,430.34,37.55,-1.69,Osun,488.02,Borno,139.39
25,Dried Fish Sardine,1998.22,1976.39,1921.17,1921.48,1993.36,1981.11,1993.06,1924.07,1890.34,...,1384.64,1396.96,1395.90,1401.74,-27.15,0.42,Adamawa,1751.12,Oyo,904.81
26,Iced Sardine,820.80,817.02,814.21,828.89,828.82,813.12,831.25,848.42,842.46,...,859.93,861.51,960.14,991.25,16.83,3.24,Niger,1283.48,Ogun,554.55
27,Irish potato,326.94,320.42,325.64,321.98,320.20,328.92,327.52,335.12,330.27,...,377.78,389.37,405.00,378.70,13.00,-6.49,Cross River,403.19,Taraba,171.74
28,Sweet potato,137.91,135.68,138.25,138.97,139.04,144.97,146.52,148.18,148.49,...,164.54,175.74,197.27,198.77,34.14,0.76,Kaduna,291.69,Bauchi,90.58
29,Tilapia fish (epiya) fresh,864.48,949.40,956.95,942.13,938.57,1012.15,1057.74,1038.20,1066.67,...,1218.93,1161.11,1208.70,1216.67,17.19,0.66,Nassarawa,1782.72,Bauchi,550.00
30,Titus:frozen,929.50,933.64,972.92,931.68,981.68,1063.57,1058.89,1051.11,999.41,...,1020.52,986.43,970.37,971.43,-7.58,0.11,Abuja,1170.00,Jigawa,696.67
31,Catfish (obokun) fresh,1239.16,1297.93,1259.55,1332.69,1394.20,1390.84,1395.04,1396.70,1381.66,...,1256.14,1271.97,1300.75,1312.70,-6.01,0.92,Lagos,1312.70,Yobe,800.88
32,Catfish :dried,2252.65,2300.35,2369.82,2359.63,2365.06,2404.51,2400.69,2400.00,2385.84,...,1827.48,1891.67,1852.86,1854.03,-22.75,0.06,Abia,2688.69,Sokoto,966.67
33,Catfish Smoked,1554.26,1576.92,1575.00,1509.26,1500.50,1513.64,1522.30,1526.37,1514.37,...,1500.00,1511.75,1600.00,1671.98,9.54,4.50,Yobe,2000.14,Kwara,1113.33
34,Mackerel : frozen,1030.19,993.01,987.50,1067.59,1049.43,1051.37,1094.03,1065.34,1065.45,...,1027.93,980.95,927.16,963.02,-9.60,3.87,Cross River,1020.53,Ekiti,713.87
35,"Groundnut oil: 1 bottle, specify bottle",483.30,486.66,492.22,500.00,504.13,484.44,480.00,500.00,490.36,...,560.62,606.67,533.33,602.22,20.44,12.92,Ebonyi,733.33,Ogun,470.00
36,Maize grain white sold loose,222.99,219.01,224.22,236.16,242.02,244.87,269.29,244.56,208.39,...,238.98,250.42,250.46,211.33,-13.59,-15.62,Bayelsa,301.51,Taraba,94.56
37,Maize grain yellow sold loose,221.35,232.54,224.85,242.80,245.88,252.72,279.65,263.04,219.42,...,250.54,255.37,224.45,218.21,-17.04,-2.78,Bayelsa,347.81,Taraba,96.53
38,"Palm oil: 1 bottle,specify bottle",410.50,423.56,472.48,508.85,500.00,518.52,523.80,550.00,559.32,...,455.56,500.00,482.67,501.75,-8.77,3.95,Edo,587.41,Osun,432.00
39,Plantain(ripe),302.21,300.00,287.36,261.97,243.92,255.28,276.84,234.50,256.89,...,259.20,240.24,222.75,229.31,-2.21,2.94,Sokoto,411.76,Bayelsa,186.40
40,Plantain(unripe),307.14,284.35,283.09,292.20,283.11,286.05,270.61,256.92,284.83,...,203.66,190.48,205.04,198.79,-22.63,-3.05,Plateau,441.52,Bayelsa,168.57
41,"Vegetable oil:1 bottle,specify bottle",598.42,507.26,538.18,552.81,559.14,550.00,555.55,578.57,555.30,...,566.67,530.30,523.08,522.81,-9.64,-0.05,Kogi,762.67,Niger,386.67
42,Wheat flour: prepacked (golden penny 2kg),636.66,666.27,631.25,625.79,622.55,639.04,639.44,644.09,602.52,...,632.90,619.05,610.37,594.74,-7.66,-2.56,Bayelsa,742.00,Zamfara,510.00

#### Print dimension of DataFrame

In [7]:
fp.shape

(44, 27)

#### Print summary of DataFrame

In [8]:
fp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44 entries, 0 to 43
Data columns (total 27 columns):
ItemLabels          43 non-null object
Jan-17              43 non-null float64
Feb-17              43 non-null float64
Mar-17              43 non-null float64
Apr-17              43 non-null float64
May-17              43 non-null float64
Jun-17              43 non-null float64
Jul-17              43 non-null float64
Aug-17              43 non-null float64
Sep-17              43 non-null float64
Oct-17              43 non-null float64
Nov-17              43 non-null float64
Dec-17              43 non-null float64
Jan-18              43 non-null float64
Feb-18              43 non-null float64
Mar-18              43 non-null float64
Apr-18              43 non-null float64
May-18              43 non-null float64
Jun-18              43 non-null float64
Jul-18              43 non-null float64
Aug-18              43 non-null float64
Year on Year %      43 non-null float64
Month on Month %    43 non-null float64
high state          43 non-null object
higher price        43 non-null float64
low state           43 non-null object
lower price         43 non-null float64
dtypes: float64(24), object(3)
memory usage: 9.4+ KB

#### Print index range for the DataFrame

In [9]:
fp.index

RangeIndex(start=0, stop=44, step=1)

#### Select rows via numerical based index

In [10]:
fp.iloc[1]

ItemLabels          Agric eggs(medium size price of one)
Jan-17                                             50.74
Feb-17                                             54.14
Mar-17                                             51.05
Apr-17                                             49.41
May-17                                             49.28
Jun-17                                             45.43
Jul-17                                             40.88
Aug-17                                             41.18
Sep-17                                             40.31
Oct-17                                             40.15
Nov-17                                             41.51
Dec-17                                             40.94
Jan-18                                                35
Feb-18                                             40.79
Mar-18                                             40.65
Apr-18                                             39.05
May-18                                             41.14
Jun-18                                             39.23
Jul-18                                             40.19
Aug-18                                             42.57
Year on Year %                                      3.39
Month on Month %                                    5.94
high state                                       Anambra
higher price                                          50
low state                                         Gombe
lower price                                           34
Name: 1, dtype: object

#### Print the summary statistics  for the DataFrame

In [11]:
fp.describe()

,Jan-17,Feb-17,Mar-17,Apr-17,May-17,Jun-17,Jul-17,Aug-17,Sep-17,Oct-17,...,Mar-18,Apr-18,May-18,Jun-18,Jul-18,Aug-18,Year on Year %,Month on Month %,higher price,lower price
count,43.000000,43.000000,43.000000,43.000000,43.000000,43.000000,43.000000,43.000000,43.000000,43.000000,...,43.000000,43.000000,43.000000,43.000000,43.000000,43.000000,43.000000,43.000000,43.000000,43.000000
mean,678.036279,697.146047,691.175116,682.667442,702.546279,715.645814,728.073953,727.325581,718.184884,687.885581,...,654.100698,644.341628,681.729302,676.039767,685.911395,683.599070,-2.957209,-0.256744,890.956512,421.433953
std,580.518556,569.436495,565.116645,563.762964,578.057947,578.227868,595.594031,598.458190,599.984591,552.446194,...,500.273399,484.528428,516.373955,498.658565,520.588974,515.922683,14.993325,5.611012,706.410211,324.576603
min,50.740000,54.140000,51.050000,49.410000,49.280000,45.430000,40.880000,41.180000,40.310000,40.150000,...,40.650000,39.050000,41.140000,39.230000,40.190000,42.570000,-38.860000,-15.620000,50.000000,34.000000
25%,287.885000,292.175000,302.230000,287.340000,290.755000,304.990000,297.305000,316.055000,302.390000,290.850000,...,246.345000,259.470000,297.395000,296.600000,297.585000,299.920000,-9.685000,-3.175000,412.700000,170.155000
50%,410.500000,429.570000,456.360000,450.000000,500.000000,484.440000,468.240000,492.630000,473.680000,461.250000,...,455.470000,461.710000,462.350000,500.000000,482.670000,501.750000,-6.010000,0.000000,563.470000,250.190000
75%,1003.495000,981.505000,980.210000,998.845000,1037.215000,1060.545000,1102.570000,1066.005000,1066.935000,1084.845000,...,1077.870000,997.105000,1076.945000,1047.905000,1107.070000,1061.415000,5.330000,3.090000,1281.335000,625.610000
max,2475.720000,2300.350000,2369.820000,2359.630000,2365.060000,2404.510000,2405.770000,2464.290000,2483.330000,2238.890000,...,1908.890000,1917.860000,2093.910000,2000.790000,2200.000000,1991.670000,37.550000,14.810000,3170.680000,1174.850000

#### Print food items with purchasing price above 1500 Naira in June and July 2018

In [12]:
fp[(fp['Jun-18']>1500)& (fp['Jul-18']>1500)]

,ItemLabels,Jan-17,Feb-17,Mar-17,Apr-17,May-17,Jun-17,Jul-17,Aug-17,Sep-17,...,May-18,Jun-18,Jul-18,Aug-18,Year on Year %,Month on Month %,high state,higher price,low state,lower price
17,Mudfish : dried,2475.72,2169.01,2206.00,2215.99,2331.72,2204.17,2405.77,2464.29,2483.33,...,2093.91,2000.79,2200.00,1991.67,-19.18,-9.47,Ekiti,3170.68,Kaduna,1174.85
32,Catfish :dried,2252.65,2300.35,2369.82,2359.63,2365.06,2404.51,2400.69,2400.00,2385.84,...,1827.48,1891.67,1852.86,1854.03,-22.75,0.06,Abia,2688.69,Sokoto,966.67
33,Catfish Smoked,1554.26,1576.92,1575.00,1509.26,1500.50,1513.64,1522.30,1526.37,1514.37,...,1500.00,1511.75,1600.00,1671.98,9.54,4.50,Yobe,2000.14,Kwara,1113.33

#### What is the average of the higher price spent on purchase of food items?

In [13]:
fp['higher price'].mean()

890.9565116279069

#### What is the average of the lower price spent on purchase of food items?

In [14]:
fp['lower price'].mean()

421.433953488372

#### What was the highest purchase price on food items in August 2018?

In [15]:
fp['Aug-18'].max()

1991.67

#### What was the lowest purchase price on food items in August 2018?

In [16]:
fp['Aug-18'].min()

42.57

#### What are the seven most popular states with high prices of food items?

In [17]:
fp['high state'].value_counts().head(7)

Bayelsa     9
Ekiti       3
Kogi        3
Lagos       2
Yobe        2
Ebonyi      2
Anambra     2
Name: high state, dtype: int64

#### What are the seven most popular states with lower prices of food items?

In [18]:
fp['low state'].value_counts().head(7)

Taraba          5
Bauchi          5
Gombe           5
Yobe            2
Oyo             2
Kebbi           2
Cross River     2
Name: low state, dtype: int64

#### What is the percentage of the change in price for Yam tuber from Year January 2017 to August 2018 in Lagos state?

In [19]:
fp[fp["ItemLabels"] == 'Yam tuber']['Year on Year %']

24    37.55
Name: Year on Year %, dtype: float64

#### What is the percentage of the change in price for yellow Garri from Year January 2017 to August 2018 in Lagos state?

In [20]:
fp[fp["ItemLabels"] == 'Gari yellow,sold loose']['Year on Year %']

15   -9.73
Name: Year on Year %, dtype: float64

#### What is the percentage of the change in price for Chicken Wings from July 2018 to August 2018 in Lagos state?

In [21]:
fp[fp["ItemLabels"] == 'Chicken Wings']['Month on Month %']

10   -3.92
Name: Month on Month %, dtype: float64